In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect('IMDb.db')
cur = con.cursor()
cur.close()
con.close()

## Create SQL database

In [2]:
def connect_SQL(name):
    con = sqlite3.connect(f'{name}.db')
    cur = con.cursor()
    return cur

## Visualize the SQL database

In [3]:
def print_SQL(tablename, cur, top):
    counter = 0
    select = f'SELECT * FROM {tablename}'
    for row in cur.execute(select):
        print(row)
        counter += 1
        if counter >= top:
            break

## TSV to SQL

In [9]:
def transfer(tablename, fields, cols, insert, csize):
    delete_table = f'DROP TABLE IF EXISTS {tablename}'
    cur.execute(delete_table)
    
    create_table = f'CREATE TABLE {tablename} ({fields});'
    cur.execute(create_table)
    
    reader = pd.read_csv(f'IMDb/{tablename}.tsv', delimiter='\t', chunksize=100, usecols=cols)
    
    total = 0
    while True:
        try:
            cur.executemany(insert, [[datum for datum in row] for idx, row in reader.get_chunk(csize).iterrows()])
            total += csize
            print(f'Total entries: {total}.')
        except StopIteration:
            while True:
                try:
                    cur.executemany(insert, [[datum for datum in row] for idx, row in reader.get_chunk(1).iterrows()])
                except StopIteration:
                    break
            break

## Run the code

In [5]:
cur = connect_SQL('IMDb')

In [10]:
tablename = 'ratings'

fields = '''
    _id TEXT,
    rating REAL
'''

cols = ['tconst', 'averageRating']

insert = f'INSERT INTO {tablename} VALUES (?, ?)'

transfer(tablename, fields, cols, insert, 100000)

Total entries: 100000.
Total entries: 200000.
Total entries: 300000.
Total entries: 400000.
Total entries: 500000.
Total entries: 600000.
Total entries: 700000.
Total entries: 800000.
Total entries: 900000.
Total entries: 1000000.
Total entries: 1100000.
Total entries: 1200000.

In [12]:
tablename = 'titles_genres'

fields = '''
    _id TEXT,
    title TEXT,
    genres TEXT
'''

cols = ['tconst', 'primaryTitle', 'genres']

insert = f'INSERT INTO {tablename} VALUES (?, ?, ?)'

transfer(tablename, fields, cols, insert, 100000)

Total entries: 100000.
Total entries: 200000.
Total entries: 300000.
Total entries: 400000.
Total entries: 500000.
Total entries: 600000.
Total entries: 700000.
Total entries: 800000.
Total entries: 900000.
Total entries: 1000000.
Total entries: 1100000.
Total entries: 1200000.
Total entries: 1300000.
Total entries: 1400000.
Total entries: 1500000.
Total entries: 1600000.
Total entries: 1700000.
Total entries: 1800000.
Total entries: 1900000.
Total entries: 2000000.
Total entries: 2100000.
Total entries: 2200000.
Total entries: 2300000.
Total entries: 2400000.
Total entries: 2500000.
Total entries: 2600000.
Total entries: 2700000.
Total entries: 2800000.
Total entries: 2900000.
Total entries: 3000000.
Total entries: 3100000.
Total entries: 3200000.
Total entries: 3300000.
Total entries: 3400000.
Total entries: 3500000.
Total entries: 3600000.
Total entries: 3700000.
Total entries: 3800000.
Total entries: 3900000.
Total entries: 4000000.
Total entries: 4100000.
Total entries: 4200000.
Total entries: 4300000.
Total entries: 4400000.
Total entries: 4500000.
Total entries: 4600000.
Total entries: 4700000.
Total entries: 4800000.
Total entries: 4900000.
Total entries: 5000000.
Total entries: 5100000.
Total entries: 5200000.
Total entries: 5300000.
Total entries: 5400000.
Total entries: 5500000.
Total entries: 5600000.
Total entries: 5700000.
Total entries: 5800000.
Total entries: 5900000.
Total entries: 6000000.
Total entries: 6100000.
Total entries: 6200000.
Total entries: 6300000.
Total entries: 6400000.
Total entries: 6500000.
Total entries: 6600000.
Total entries: 6700000.
Total entries: 6800000.
Total entries: 6900000.
Total entries: 7000000.
Total entries: 7100000.
Total entries: 7200000.
Total entries: 7300000.
Total entries: 7400000.
Total entries: 7500000.
Total entries: 7600000.
Total entries: 7700000.
Total entries: 7800000.
Total entries: 7900000.
Total entries: 8000000.
Total entries: 8100000.
Total entries: 8200000.
Total entries: 8300000.
Total entries: 8400000.